
h1{
    text-align: center;
}
div{
    font-size: 16px;
    text-align: center;
}
hr{
    line-height: 8px;
}
.time{
    color: #808080;
}
.sina{
    color: #87CEEB;
}
a{
    color: #0000EE;
}
p{
    font-size: 16px;
    text-indent: 2em;
}